# Chi2
For un-numeric data

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [56]:
data = pd.read_csv('../../datasets/WA_Fn-UseC_-HR-Employee-Attrition.csv')
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [57]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [58]:
data.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [59]:
data['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [60]:
data['JobSatisfaction'].value_counts()

JobSatisfaction
4    459
3    442
1    289
2    280
Name: count, dtype: int64

In [61]:
ct = pd.crosstab(data['Attrition'], data['JobSatisfaction'], margins=True)

In [62]:
ct

JobSatisfaction    1    2    3    4   All
Attrition
No               223  234  369  407  1233
Yes               66   46   73   52   237
All              289  280  442  459  1470

In [63]:
ct.iloc[0] / ct.iloc[0]['All']

JobSatisfaction
1      0.180860
2      0.189781
3      0.299270
4      0.330089
All    1.000000
Name: No, dtype: float64

In [64]:
ct.iloc[1] / ct.iloc[1]['All']

JobSatisfaction
1      0.278481
2      0.194093
3      0.308017
4      0.219409
All    1.000000
Name: Yes, dtype: float64

In [65]:
ct.iloc[0][: -1]

JobSatisfaction
1    223
2    234
3    369
4    407
Name: No, dtype: int64

In [66]:
ct.iloc[0] / ct.iloc[0]['All'] - ct.iloc[1] / ct.iloc[1]['All']

JobSatisfaction
1     -0.097621
2     -0.004312
3     -0.008747
4      0.110680
All    0.000000
dtype: float64

In [67]:
obs = np.append(ct.iloc[0][: -1].values, ct.iloc[1][: -1].values)

In [68]:
obs

array([223, 234, 369, 407,  66,  46,  73,  52])

In [69]:
row_sum = ct.iloc[0: 2, 4].values
row_sum

array([1233,  237])

In [70]:
ct.loc['All', 'All']

np.int64(1470)

In [71]:
exp = []
for j in range(2):
    for val in ct.iloc[2, :-1].values:
        tmp = val * row_sum[j] / ct.loc['All', 'All']
        print(f"{val} * {row_sum[j]} / {ct.loc['All', 'All']}  = {tmp}")
        exp.append(tmp)

289 * 1233 / 1470  = 242.4061224489796
280 * 1233 / 1470  = 234.85714285714286
442 * 1233 / 1470  = 370.7387755102041
459 * 1233 / 1470  = 384.99795918367346
289 * 237 / 1470  = 46.593877551020405
280 * 237 / 1470  = 45.142857142857146
442 * 237 / 1470  = 71.26122448979592
459 * 237 / 1470  = 74.00204081632653

In [72]:
exp

[np.float64(242.4061224489796),
 np.float64(234.85714285714286),
 np.float64(370.7387755102041),
 np.float64(384.99795918367346),
 np.float64(46.593877551020405),
 np.float64(45.142857142857146),
 np.float64(71.26122448979592),
 np.float64(74.00204081632653)]

In [73]:
((obs - exp) ** 2 / exp).sum()

np.float64(17.505077010348)

In [74]:
dof = (len(row_sum) - 1) * (len(ct.iloc[2, :-1].values) - 1)

In [75]:
dof

3

In [76]:
1 - stats.chi2.cdf(((obs - exp) ** 2 / exp).sum(), dof)

np.float64(0.000556300451038716)

In [77]:
ct

JobSatisfaction    1    2    3    4   All
Attrition
No               223  234  369  407  1233
Yes               66   46   73   52   237
All              289  280  442  459  1470

In [78]:
d = np.array([ct.iloc[0][: -1].values, ct.iloc[1][: -1].values])
d

array([[223, 234, 369, 407],
       [ 66,  46,  73,  52]])

In [79]:
stats.chi2_contingency(d)

Chi2ContingencyResult(statistic=np.float64(17.505077010348), pvalue=np.float64(0.0005563004510387556), dof=3, expected_freq=array([[242.40612245, 234.85714286, 370.73877551, 384.99795918],
       [ 46.59387755,  45.14285714,  71.26122449,  74.00204082]]))

In [80]:
stats.chisquare(d)

Power_divergenceResult(statistic=array([ 85.29065744, 126.22857143, 198.22624434, 274.56427015]), pvalue=array([2.57577384e-20, 2.74031376e-29, 5.09229443e-45, 1.14862090e-61]))

In [82]:
ct = pd.crosstab(data['Attrition'], data['Education'], margins=True)
ct

Education    1    2    3    4   5   All
Attrition
No         139  238  473  340  43  1233
Yes         31   44   99   58   5   237
All        170  282  572  398  48  1470

In [83]:
d = np.array([ct.iloc[0][: -1].values, ct.iloc[1][: -1].values])
d

array([[139, 238, 473, 340,  43],
       [ 31,  44,  99,  58,   5]])

In [84]:
stats.chi2_contingency(d)

Chi2ContingencyResult(statistic=np.float64(3.0739613982367193), pvalue=np.float64(0.5455253376565949), dof=4, expected_freq=array([[142.59183673, 236.53469388, 479.77959184, 333.83265306,
         40.26122449],
       [ 27.40816327,  45.46530612,  92.22040816,  64.16734694,
          7.73877551]]))